$footer-offset: 10px;

.footer-overlap {
   height: $footer-offset;
   background-color: rgba($invert-theme-col, 0.7);
   bottom: 0px;
   width: 100%;
}

footer {
   bottom: -$footer-height;
   background-color: rgb(39, 39, 39);
   
   justify-content: space-between;
   width: 100%;
   
   display: flex;
   align-items: center;
   
   height: $footer-height;
   
   
   .lang {      
      margin: 10px;
   }
   
   a {
      display: flex;
      align-items: center;
      color: $invert-text-col;
      
      text-decoration: none;
      
      &:hover {
         color: $invert-hover-col;
      }
   }
   
   img {
      margin-right: 10px;
      height: 30px;
   }
}