@import '../../../node_modules/purecss/build/pure-min';
@import '../../../node_modules/purecss/build/grids-responsive';
body {
    margin: 0px !important;

    font-family: Verdana, Arial, Helvetica, sans-serif;
}

* {
    letter-spacing: 0px !important;
}

$small-screen: 768px;
$smaller-screen: 500px;

$theme-col: rgba(255, 255, 255, 0.70);
$hover-col: black;
$text-col: #2D2D2D;
$nav-height: 52px;