<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width" />
   <link rel="stylesheet" type="text/css" href="/css/contact.css"> {{> imports }}
   <title>{{title}}</title>
</head>

<body class="aver-hidden" data-aver-basepath="{{lang}}.contact" data-aver-partials="{{lang}}._partials">
   {{> header}}
   <div class="main-content-container">
      <div class="header-banner"></div>
      <div class="sub-container">
         <div class="section">
            <div class="title text aver-editable" data-aver-path="title">{{title}}</div>

            <div class="text">
               <div class="subtitle aver-editable" data-aver-path="secretary">{{secretary}}</div>
               <div>Mrs Anne Hunt</div>
               <div class="aver-editable" data-aver-path="tel">{{tel}}: 0161 285 9670</div>
               <div class="aver-editable" data-aver-path="email">{{email}}: anne.rashalf@ntlworld.com</div>
            </div>

            <div class="text">
               <div class="subtitle aver-editable" data-aver-path="minister">{{minister}}</div>
               <div>Reverend Eleri Edwards</div>
               <div class="aver-editable" data-aver-path="email">{{email}}: c.e.edwards.t21@btinternet.com</div>
            </div>

            <div class="text">
               <div class="subtitle aver-editable" data-aver-path="concert-sec">{{concert-sec}}</div>
               <div>Mr Elwyn Evans</div>
               <div class="aver-editable" data-aver-path="tel">{{tel}}: 0161 445 9366</div>
               <div class="aver-editable" data-aver-path="email">{{email}}: eandevevans@aol.com</div>
            </div>
         </div>
      </div>
   </div>

   {{> footer}}
</body>

</html>