<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width" />
   <link rel="stylesheet" type="text/css" href="../css/contact.css"> {{> imports }}
   <title>{{title}}</title>
</head>

<body>
   {{> header}}
   <div class="main-content-container">
      <div class="header-banner"></div>
      <div class="sub-container">
         <div class="section">
            <div class="title text">{{title}}</div>

            <div class="text">
               <div class="subtitle">{{secretary}}</div>
               <div>Mrs Anne Hunt</div>
               <div>{{tel}}: 0161 285 9670</div>
               <div>{{email}}: anne.rashalf@ntlworld.com</div>
            </div>

            <div class="text">
               <div class="subtitle">{{minister}}</div>
               <div>Reverend Eleri Edwards</div>
               <div>{{email}}: c.e.edwards.t21@btinternet.com</div>
            </div>

            <div class="text">
               <div class="subtitle">{{concert-sec}}</div>
               <div>Mr Elwyn Evans</div>
               <div>{{tel}}: 0161 445 9366</div>
               <div>{{email}}: eandevevans@aol.com</div>
            </div>
         </div>
      </div>
   </div>

   {{> footer}}
</body>

</html>