<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width" />
   <link rel="stylesheet" type="text/css" href="/css/society.css"> {{> imports }}
   <title>{{title}}</title>
</head>

<body class="aver-hidden" data-aver-basepath="{{lang}}.society" data-aver-partials="{{lang}}._partials">
   {{> header}}
   <div class="main-content-container">
      <div class="header-banner"></div>
      <div class="sub-container">
         <div class="section">
            <div class="title text">{{meetings}}</div>
            <div class="text">{{meetings-text}}</div>
            <div class="address text">
               {{chapel}}<br> Oaker Avenue<br> West Didsbury<br> M20 2XH.
            </div>
         </div>

         <div id="map-container" class=""></div>

         <div class="section">
            <div class="title text">{{events-title}}</div>
            <div class="text"><i>{{warning}}</i></div>

            {{#each events as |list year|}}
               <div class="subtitle text">{{year}}</div>

               {{#each list}}
               <div class="pure-g text">
                  <div class="left pure-u-1 pure-u-md-1-3">
                     <div class="item"><i class="fa fa-calendar"></i>{{date}}</div>
                     {{#if time}}<div class="item"><i class="fa fa-clock-o"></i>{{time}}</div>{{/if}}
                     {{#if location}}<div class="item"><i class="fa fa-map-pin"></i>{{location}}</div>{{/if}}
                  </div>
                  <div class="right pure-u-1 pure-u-md-2-3">
                     {{#each info}}
                     <div>{{this}}</div>
                     {{/each}}
                     {{#if chair}}<div class="chair">{{../../chair-str}}: {{chair}}</div>{{/if}}
                  </div>
               </div>
               {{/each}}
            {{/each}}
         </div>

         <div class="section">
            <div class="title text">{{details}}</div>
            <div class="text">{{further-details}} <a href="/{{lang}}/contact.html">Anne Hunt</a></div>
         </div>
      </div>

   </div>

   {{> footer}}
</body>

<script>
   function initMap() {
      var church = { lat: 53.423256, lng: -2.254001 };
      var map = new google.maps.Map(document.getElementById('map-container'), {
         zoom: 10,
         center: church
      });
      var marker = new google.maps.Marker({
         position: church,
         map: map
      });
   }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZfNm3_5eZ7Webhk18JuEys0eOa6jG9l0&callback=initMap">

</script>


</html>