<script src="https://use.fontawesome.com/99ebc464f5.js"></script>


<script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-auth.js"></script>
<script src="/aver-firebase/aver-firebase.js"></script>
<script src="/aver-core/js/aver-core.js"></script>
<link rel="icon" href="../assets/favicon.ico" type="image/gif">
<link rel="stylesheet" href="/aver-core/css/core.css">
<meta name="keywords"
      content="Manchester Welsh,
               Manchester Welsh Society,
               Cymry Manceinion,
               Cymdeithas Cymry Manceinion,
               manchesterwelsh,
               cymrymanceinion,
               Manchester,
               Manceinion,
               Wales,
               welsh,
               welsh society,
               Welsh Presbyterian Church,
               Eglwys Bresbyteraidd Cymry">
<meta name="description" content="Manchester Welsh - the homesite of the Welsh community in Manchester">