@import '../components/misc';
@import '../components/header';
@import '../components/footer';

body {
   flex-direction: column;
}

footer, .footer-overlap {
   position: absolute;
}

.main-content-container {
   background-color: gray;
   flex: 1;
   margin-top: -$nav-height;
   display: flex;
   justify-content: center;

   flex-direction: row;

   .image {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center center !important;
      color: $text-col;

      .title {
         font-size: 45px;
      }

      .content {
         background-color: $theme-col;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         margin: 5px;
         padding: 20px;
         width: 100vw;

         @media only screen and (min-width: $smaller-screen) and (min-height: 400px) {
            padding: 30px;
            flex-direction: row;
            img {
               height: 300px;
               border-radius: 10px;
               display: block !important;
            }
         }

         img {
            display: none;
         }

      }
   }

   .wales {
      background: url('../assets/wales.jpg');
   }
}