@import '../components/misc';
@import '../components/header';

body {
   display: flex;
   flex-direction: column;

   height: 100vh;
}

.main-content-container {
   background-color: gray;
   flex: 1;   
   margin-top: -$nav-height;
   display: flex;
   justify-content: center;
   
   flex-direction: row;


   .image { 
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center center !important; 
      color: $text-col;  

      .title {
         font-size: 30px;
      }  

      .content {
         background-color: $theme-col;
         width: 75vw;
         padding: 30px;
         border-radius: 10px;

         display: flex;
         
         img {
            height: 300px;
            border-radius: 10px;
         }
      } 
   }

   .wales {
      background: url('../assets/wales.jpg');
   }
}