@import '../components/misc';
@import '../components/header';
@import '../components/footer';

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;

   .footer-overlap {
      display: none;
   }
}

.main-content-container {
   background-color: #FFFFFF;
   flex: 1;   
   margin-top: -$nav-height;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;

   .address {
      text-align: center;
      font-weight: bold;      
   }

   #map-container {
      width: 100%;
      height: 50vh;
      
      max-height: 350px;
   }
   

}

@include header-banner ("../assets/society.png");

.program {
   width: 200px;
   height: 500px;
}