@import '../components/misc';
@import '../components/header';
@import '../components/footer';
.main-content-container {
   @include main-content-container;

   .title {
      padding: 20px 10px 0px 10px;
      font-size: 20px !important;

      @media only screen and (min-width: $smaller-screen) {
         font-size: $title-font-size;
         padding: 20px 0px;
      }
   }

   .images-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media only screen and (min-width: $smaller-screen) {
         flex-wrap: wrap;
         flex-direction: row;
      }

      .image-container {
         padding: 20px 10px;

         img {
            max-width: 100%;
            @media only screen and (min-width: $small-screen) {
               &.sm {
                     max-height: 245px;
               }
               &.md {
                     max-height: 260px;
               }
               &.lg {
                     max-height: 290px;
               }
            }
         }
      }
   }
}

@include header-banner ("../assets/davids-header.jpg");