<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width" />
   <link rel="stylesheet" type="text/css" href="../css/stdavids.css"> {{> imports }}
   <title>{{header.title}}</title>
</head>

<body>
   {{> header}}
   <div class="main-content-container">
      <div class="header-banner"></div>
      <div class="sub-container">
         <div class="section">
            <div class="title">{{title}}</div>
            {{#each images as |item year|}}
               <div class="images-container">
                  {{#each item}}
                  <div class="image-container">
                     {{#if caption}}
                        <div class="overlay">
                           <div class="content">{{caption}}</div>
                        </div>
                     {{/if}}
                     <img {{#if size}}class="{{size}}"{{/if}} src="../assets/stdavids/{{year}}/{{img}}"></img>
                  </div>
                  {{/each}}
               </div>
            {{/each}}
            </div>
         </div>
      </div>
   </div>

   {{> footer}}
</body>

</html>